name: Build PDF
on: [pull_request, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v6
      - name: Compile LaTeX document to PDF
        uses: xu-cheng/latex-action@v4
        with:
          root_file: solutions.tex
      - name: Upload PDF artifact
        uses: actions/upload-artifact@v6
        with:
          name: solutions.pdf
          path: solutions.pdf
